<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
        version="2.4">

    <servlet>
        <servlet-name>Ch3 Beer</servlet-name>
        <servlet-class>andrii.servlets.BeerSelect</servlet-class>
    </servlet>
        <servlet-mapping>
        <servlet-name>Ch3 Beer</servlet-name>
        <url-pattern>/SelectBeer.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Ch4 Return</servlet-name>
        <servlet-class>andrii.servlets.CodeReturn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ch4 Return</servlet-name>
        <url-pattern>/CodeReturn.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletConfigTests</servlet-name>
        <servlet-class>andrii.servlets.TestServletConfig</servlet-class>
        <init-param>
            <param-name>adminEmail</param-name>
            <param-value>ostryzhnykandriy@gmail.com</param-value>
        </init-param>
        <init-param>
            <param-name>mainEmail</param-name>
            <param-value>blooper@wickedlysmart.com</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletConfigTests</servlet-name>
        <url-pattern>/ServletConfig.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletContextTests</servlet-name>
        <servlet-class>andrii.servlets.TestServletContext</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletContextTests</servlet-name>
        <url-pattern>/ServletContext.do</url-pattern>
    </servlet-mapping>


    <context-param>
        <param-name>adminEmail</param-name>
        <param-value>ostryzhnykandriy@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>mainEmail</param-name>
        <param-value>blooper@wickedlysmart.com</param-value>
    </context-param>


    <!--MyServletContextListener-->
    <listener>
        <listener-class>andrii.listeners.MyServletContextListener</listener-class>
    </listener>

    <context-param>
        <param-name>breed</param-name>
        <param-value>Caucasian shepherd</param-value>
    </context-param>


    <servlet>
        <servlet-name>TestCookie</servlet-name>
        <servlet-class>andrii.servlets.CookieTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestCookie</servlet-name>
        <url-pattern>/TestCookie.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ContextTestListener</servlet-name>
        <servlet-class>andrii.servlets.ContextListenerTester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContextTestListener</servlet-name>
        <url-pattern>/ContextTestListener.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SessionTestListener</servlet-name>
        <servlet-class>andrii.servlets.SessionListenerTester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionTestListener</servlet-name>
        <url-pattern>/SessionTestListener.do</url-pattern>
    </servlet-mapping>

    <!--MyServletSessionListener-->
    <listener>
        <listener-class>andrii.listeners.MyServletSessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>andrii.listeners.BeerAttributeListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>firstJSPTest</servlet-name>
        <servlet-class>andrii.servlets.JSPTester</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstJSPTest</servlet-name>
        <url-pattern>/testJSP.do</url-pattern>
    </servlet-mapping>


</web-app>